body {
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:#46bfee ;
  overflow: hidden;
}
/*
Pac Man hex codes for reference
#d03e19 - red
#46bfee - blue 
#ea82e5 - purple
#fdff00 - yellow
Ghost colors
#FF0000 - red
#FFB8FF - light purple
#00FFFF - light blue
#FFB852 - light brown
*/

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes moves{
  to{
    left: 100%; 
  }
}

.board {
  text-align: left;
  background: black;
  padding: .5em 0;
  height: 1em;
  display: flex; 
  align-items: center;
}

.ghost { 
  color: red;
  position: absolute;
  left: 0; 
  animation-name: moves ; 
  animation-duration: 7.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: .5s ;
}

.pac-man {
  position: absolute;
  left: 0; 
  color: yellow;
  animation-name: moves ; 
  /* animation-duration: 7.5s; */
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.board.pause .ghost { animation-play-state: paused; }
.board.pause .pac-man { animation-play-state: paused; }

.board.changeDirection .ghost { animation-direction: reverse; }
.board.changeDirection .pac-man { transform: rotateY(180deg) ; animation-direction: reverse; }


/* button styling */
button { 
  background: none;
  border: 3px solid #000;
  padding: 1em;
  text-transform: uppercase;
  font-weight: 600; 
  position: relative;
  overflow: hidden;
}

button:before{
  content:''; 
  position: absolute;
  left: 0;
  top: 0; 
  width: 100%;
  height: 100%;
  background: yellow;
  z-index: -1;
  transform: translateX(-100%);
  transition: transform .25s ease; ;
}

button:hover:before{
  transform: translateX(0%);
}